<a href="https://colab.research.google.com/github/mhuckvale/pals0035/blob/master/1_1_Essential_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# PALS0035 - 1.1 Essential Python
A brief introduction to the essentials of programming in Python.

## Types

The basic types in Python are integers, floats, strings and booleans.
<p>Integers: 2, 25, -13, 1e9
<p>Floats: 1.2, 0.0001, -3.4, 1.5e-10
<p>Strings: "hello", "this is a string", "iːvən juːnɪkəʊd"
<p>Booleans: True, False

## Print statement
You can display values with the print() statement. Separate values with commas.
<p>The type() function will report the type of the expression.

In [5]:
print(2,1.2,"hello",True)
print(type(2),type(1.2),type("hello"),type(True))

2 1.2 hello True
<class 'int'> <class 'float'> <class 'str'> <class 'bool'>

## Expressions
The basic types can be combined into expressions with the following operators:
<table>
  <tr><th>Operator</th><th>Example</th><th>Operation</th></tr>
  <tr><td>+</td><td>3+4</td><td>Addition</td></tr>
  <tr><td>-</td><td>-5</td><td>Negation</td></tr>
  <tr><td>-</td><td>5-3</td><td>Subtraction</td></tr>
  <tr><td>\*</td><td>3\*4</td><td>Multiplication</td></tr>
  <tr><td>/</td><td>3/4</td><td>Division (float result)</td></tr>
  <tr><td>/</td><td>12//4</td><td>Division (int result)</td></tr>
  <tr><td>//</td><td>10%4</td><td>Modulus (int result)</td></tr>
  <tr><td>\*\*</td><td>2\*\*8</td><td>Exponentiation (float result)</td></tr>  
</table>

In [6]:
print(3+4,-5,5-3,3*4,3/4,12//4,10%4,2**8)

7 -5 2 12 0.75 3 2 256

## Variables
Variables are named storage locations for values. Variable names consist of alphanumeric characters and underscore, but may not start with a digit.
<p>The assignment statement causes a named variable to contain the value of an expression:
<p>Variable = Expression