<a href="https://colab.research.google.com/github/mhuckvale/pals0035/blob/master/1_1_Essential_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# PALS0035 - 1.1 Essential Python
A brief introduction to the essentials of programming in Python.

## Types

The basic types in Python are integers, floats, strings and booleans.
<p>Integers: 2, 25, -13, 1000000
<p>Floats: 1.2, 0.0001, -3.4, 1.5e-10
<p>Strings: "hello", "this is a string", "iːvən juːnɪkəʊd"
<p>Booleans: True, False

## Print statement
You can display values with the print() statement. Separate values with commas.
<p>The type() function will report the type of the expression.

In [5]:
print(2,1.2,"hello",True)
print(type(2),type(1.2),type("hello"),type(True))

2 1.2 hello True
<class 'int'> <class 'float'> <class 'str'> <class 'bool'>

## Expressions
The basic types can be combined into expressions with the following operators:
<table>
  <tr><th>Operator</th><th>Example</th><th>Operation</th></tr>
  <tr><td>+</td><td>3+4</td><td>Addition</td></tr>
  <tr><td>-</td><td>-5</td><td>Negation</td></tr>
  <tr><td>-</td><td>5-3</td><td>Subtraction</td></tr>
  <tr><td>\*</td><td>3\*4</td><td>Multiplication</td></tr>
  <tr><td>/</td><td>12/4</td><td>Division (float result)</td></tr>
  <tr><td>//</td><td>12//4</td><td>Division (int result)</td></tr>
  <tr><td>%</td><td>10%4</td><td>Modulus (int result)</td></tr>
  <tr><td>\*\*</td><td>2\*\*8</td><td>Exponentiation (float result)</td></tr>  
  <tr><td>+</td><td>"Hello "+"world!"</td><td>String concatenation (string result)</td></tr>
</table>
<p>The following operators create a boolean result
<table>
  <tr><th>Operator</th><th>Example</th><th>Operation</th></tr>
  <tr><td>&lt;</td><td>3&lt;4</td><td>Less than</td></tr>
  <tr><td>&lt;=</td><td>3&lt;=4</td><td>Less than or equal</td></tr>
  <tr><td>==</td><td>3==4</td><td>Equal</td></tr>
  <tr><td>!=</td><td>3!=4</td><td>Not equal</td></tr>
  <tr><td>&gt;=</td><td>3>=4</td><td>Greater than or equal</td></tr>
  <tr><td>&gt;</td><td>3>4</td><td>Greater than</td></tr>
  <tr><td>and</td><td>0&lt;3 and 3&lt;5</td><td>Logical and</td></tr>
  <tr><td>or</td><td>0&lt;3 or 3&lt;5</td><td>Logical or</td></tr>
  <tr><td>not</td><td>not True</td><td>Logical not</td></tr>
</table>
 <p>Parentheses may be used to conrrol order of evaluation in complex expressions:
 <p>2+3\*4 vs (2+3)\*4

In [12]:
print(3+4,-5,5-3,3*4,12/4,12//4,10%4,2**8,"Hello_"+"world!")
print(3<4,3<=4,3==4,3!=4,3>=4,3>4,0<3 and 3<5,0<3 or 3<5,not True)
print(2+3*4,(2+3)*4)

7 -5 2 12 3.0 3 2 256 Hello_world!
True True False True False False True True False
14 20

## Variables
Variables are named storage locations for values. Variable names may consist of alphanumeric characters and underscore, but may not start with a digit. Case is significant. Legal: a, b27, aardvark, apple_pie, someVeryLongNameWithMixedCase. Illegal: e$, 1a, big name.
<p>The assignment statement causes a named variable to contain the value of an expression:
<p>Variable = Expression

In [10]:
ivar=23*10
fvar=13/10
bvar=2<4
svar="abcd"+"efgh"
print(ivar,fvar,bvar,svar)

230 1.3 True abcdefgh