<a href="https://colab.research.google.com/github/mhuckvale/pals0039/blob/master/Exercise_2_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

[![PALS0039 Logo](https://www.phon.ucl.ac.uk/courses/pals0039/images/pals0039logo.png)](https://www.phon.ucl.ac.uk/courses/pals0039/)

#Exercise 2.1 Pandas

(a) Use pandas to read the CSV file stored at this URL into a dataframe:
* [https://www.phon.ucl.ac.uk/courses/pals0039/data/alcohol.csv](https://www.phon.ucl.ac.uk/courses/pals0039/data/alcohol.csv)

This data describes alcohol consumption in litres per person for 2016 broken down by country (source: World Bank). 

Use pandas to display the first 10 rows of the table.

(b) Display the rows in the dataframe with the 10 greatest alcohol consumption values. Display the rows with the 10 smallest alcohol consumption values. 

Hint: the data frame <tt>sort_values</tt> method will sort a frame according to values found in a column.

(c) Display all rows in which the alcohol consumption value is missing.

Hint: the series <tt>isna</tt> method is useful here.

(d) Copy the valid alcohol values into a numpy vector

Hint: the series <tt>notna</tt> method and the <tt>to_numpy</tt> are useful here.

(e) Plot a histogram of the ALCOHOL values

Hint: pandas has a data frame method and a series method for this.

---
(f) Save the contents of the dataframe to a CSV file in your Google Drive account.

Hint: to access your Google drive account you first must authorise access using:

<pre>
from google.colab import drive
drive.mount('/content/gdrive')
</pre>
After that, your Drive can be accessed at the folder "/content/gdrive/My Drive/".

Reload the CSV file from your Google drive account into a new dataframe and check that the values have been reloaded successfuly. Do this by reporting the number of rows in the two data frames, and by calling the pandas "describe()" method on the ALCOHOL column.